/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own
        default_layer {

            bindings = <
            &kp ESC   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                                        &kp N6  &kp N7   &kp N8      &kp N9    &kp N0     &kp DEL
            &kp TAB   &kp Q   &kp W   &kp F   &kp P   &kp G                                                                         &kp J   &kp L    &kp U       &kp Y     &kp QUOT   &kp BSLH
            &kp CAPS  &kp A   &kp R   &kp S   &kp T   &kp D                                                                         &kp H   &kp N    &kp E       &kp I     &kp O      &kp SQT
            &kp LSHFT &kp Z   &kp X   &kp C   &kp V   &kp B                                                                         &kp K   &kp M    &kp COMMA   &kp DOT   &kp SEMI   &kp RCTRL
                        &studio_unlock &kp LSHFT &kp LGUI &kp SPACE &kp ESC   &kp C_PLAY_PAUSE         &kp C_PLAY_PAUSE     &kp RET &kp SPACE &kp RSHFT &kp BSPC &kp RALT
            >;

            // sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};