# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ISTANBUL_LEFT

config ZMK_KEYBOARD_NAME
    default "Istanbul"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ISTANBUL_LEFT || SHIELD_ISTANBUL_RIGHT

config ZMK_SPLIT
    default y

endif