config ZMK_SENSOR_TPS65
	bool "Azoteq TPS65 trackpad driver"
	default y
	depends on DT_HAS_AZOTEQ_TPS65_ENABLED
	select I2C
	select SENSOR
	help
	  Enable driver for Azoteq TPS65 trackpad sensor.

if ZMK_SENSOR_TPS65

config ZMK_SENSOR_TPS65_GESTURE_SUPPORT
	bool "Gesture support"
	default n
	help
	  Enable gesture support.

config ZMK_SENSOR_TPS65_POLL_RATE_MS
	int "Poll rate (ms)"
	default 10
	help
	  The time between sensor polls in milliseconds.

config ZMK_SENSOR_TPS65_MAX_TOUCHES
	int "Max touches"
	default 5
	help
	  The maximum number of touches to report.

config ZMK_SENSOR_TPS65_SENSITIVITY
	int "Sensitivity"
	default 40
	help
	  The sensitivity of the sensor.

endif

config ZMK_SENSOR_TPS43
	bool "Azoteq TPS43 trackpad driver"
	default y
	depends on DT_HAS_AZOTEQ_TPS43_ENABLED
	select I2C
	select SENSOR
	help
	  Enable driver for Azoteq TPS43 trackpad sensor.

if ZMK_SENSOR_TPS43

config ZMK_SENSOR_TPS43_GESTURE_SUPPORT
	bool "Gesture support"
	default n
	help
	  Enable gesture support.

config ZMK_SENSOR_TPS43_POLL_RATE_MS
	int "Poll rate (ms)"
	default 10
	help
	  The time between sensor polls in milliseconds.

config ZMK_SENSOR_TPS43_MAX_TOUCHES
	int "Max touches"
	default 5
	help
	  The maximum number of touches to report.

config ZMK_SENSOR_TPS43_SENSITIVITY
	int "Sensitivity"
	default 40
	help
	  The sensitivity of the sensor.

endif 